@font-face {

  font-family: "raleway";

  font-style: normal;
  font-weight: 800;

  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");

  font-display: swap;
}

@font-face {

  font-family: "rubik";

  font-style: normal;
  font-weight: 400;

  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");

  font-display: swap;
}

@font-face {

  font-family: "rubik";

  font-style: normal;
  font-weight: 700;

  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");

  font-display: swap;
}

@font-face {

  font-family: "rubik";

  font-style: normal;
  font-weight: 800;

  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");

  font-display: swap;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'raleway' , sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: white;
  color: #242424;
}

a {
  text-decoration: none;
}


.main-header {
  padding-top: 80px;
  position: relative;
  width: 1160px;
  margin: 0 auto;
  background: #FFE17F;
  color: black;
}

.main-header::before {
  top: 0;
  left: 0;
  z-index: 1;
  content: '';
  width: 100%;
  height: 40px;
  position: absolute;
  background-color: rgb(255, 255, 255);

}

.logo-link {
  position: absolute;
  z-index: 10;
  top: 17px;
  left: 61px;
}

.menu-link {
  color: black;
  font-family: "rubik" , Arial, Helvetica, sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
}

.wrapper-form {
  display: flex;
  justify-content: space-between;
  width: 1040px;
  margin: 0 auto;
}

.header-form {
  width: 575px;
}

.user-navigation {
  display: flex;
  padding: 0;
  margin: 8px 0 0 0;
  width: 50%;
  list-style-type: none;

}

.user-navigation-item {
  padding-left: 30px;
  margin-left: 26px;

}

.user-navigation-item:first-child {
  width: 216px;
}

.cart {
  display: none;
}
  /* slider    */

.slider-title {
  font-family: 'raleway' , Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.slider-text {
  font-family: "rubik" , Arial, Helvetica, sans-serif;
  line-height: 30px;
}

.feature-value {
  font-family: "rubik" , Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: normal;
}

.feature-caption {
  font-family: "rubik" , Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
}

/* products  */

.products {
  width: 1160px;
  margin: 0 auto;
}

.products-list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
}

.products-item {

}

.products-link {
  display: block;
  padding-top: 190px;
  position: relative;
}



.products-link::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  background-repeat: no-repeat;
  background-position: center center;
}

.products-link:hover::before {
  background-color: #FFC700;
}

.products-link--vr::before {
  background-image: url("../images/products/Vector-1.png");
}
.products-link--selfi::before {
  background-image: url("../images/products/Vector-2.png");
}
.products-link--action::before -camers{
  background-image: url("../images/products/Vector-3.png");
}
.products-link--fitness::before {
  background-image: url("../images/products/Vector-4.png");
}
.products-link--watch::before {
  background-image: url("../images/products/Vector-5.png");
}
.products-link--quadrocopter::before {
  background-image: url("../images/products/Vector-6.png");
}
